.site-nav .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header {
    border-bottom: 1px solid #ECECEC;
    padding: 24px 0;
}

.header-flex {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav__item+.site-nav__item {
    margin-left: 50px;
}

.site-contacts {
    display: flex;
    margin-left: auto;
}

.site-contacts__item+.site-contacts__item {
    margin-left: 50px;
}

.logo {
    margin-right: 93px;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-web {
    color: var(--accent-color);
}

.site-nav .link.current {
    position: relative;
    color: var(--accent-color);
}

.site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.site-contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.site-contacts__icon {
    fill: currentColor;
}

.site-contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
}