.hero__title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--secondary-text-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    border: 1px transparent;
    display: block;
    border: 1px transparent;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.hero {
    max-width: 1600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/Img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}